html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;

  color: var(--color-text-light);
  background-color: var(--color-bg-light);
  font-family: var(--body-font-family);
  font-size: 0.9rem;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: var(--color-secondary);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
}

.content-container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  text-align: center;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

iframe {
  width: 100%;
  height: calc(100% - 40px);
  border: none;
}

/* ==== p5 canvas ==== */
canvas {
  display: block;
  margin: 0;
  width: 100vw;
  height: auto;
  transform-origin: top left;
  transform: scale(1.25);
}

#p5_loading {
  color: var(--color-secondary);
  font-family: var(--heading-font-family);
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ==== Bottom Navbar ==== */
.iframe-navbar {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--color-border-light);
  background-color: #FFF;
  padding: 0 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iframe-navbar button {
  background-color: transparent;
  padding: 5px;
  margin: 0 0.5rem;
  border: none;
  cursor: pointer;

  display: inline-block;
  color: var(--color-secondary);
  font-weight: var(--font-weight-bold);
  font-size: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  transition: all 200ms;

  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.iframe-navbar button:hover {
  /* background-color: var(--color-text-highlight); */
}