/* github-corner is not being used. */
.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-corner svg {
  color: #fff;
  fill: var(--color-secondary);
  height: 80px;
  width: 80px;
}